@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "@/sass/base/_reset.scss";
@import "@/sass/base/_typography.scss";
@import "@/sass/utils/_colors.scss";
@import "@/sass/utils/_mixins.scss";
@import "@/sass/utils/_variables.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $white;
}

::-webkit-scrollbar-thumb {
  background: $blue;
}

html {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

section,
nav {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

body {
  font-size: 100%;
  overflow: hidden;
  min-height: 100vh;
  max-width: 100vw;
}

@media only screen and (max-width: $breakpoint-lg) {
  body {
    font-size: 90%;
  }
}

@media only screen and (max-width: $breakpoint-md) {
  body {
    font-size: 85%;
  }
}

@media only screen and (max-width: $breakpoint-sm) {
  body {
    font-size: 70%;
  }
  section,
  nav {
    padding-left: 4%;
    padding-right: 4%;
  }
}
