@import "@/sass/utils/_colors.scss";
@import "@/sass/utils/_mixins.scss";
@import "@/sass/utils/_variables.scss";
@import "@/sass/utils/_mixins.scss";

.gallery {
  padding-top: 8em;
  background-color: $dark;
  width: 100vw;
  height: auto;
  @include flexbox($justify: center, $items: center, $direction: column);

  &__container {
    padding: 3em 0;
    @include flexbox($justify: center, $items: center, $gap: 3em);
    flex-wrap: wrap;

    &__item {
      min-width: 300px;
      margin-top: 0.5em;
      border-radius: 0.8em;
      opacity: 0.7;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        opacity: 1;
        transition: all 0.3s ease;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-xl) {
  .gallery__container {
    gap: 1em;
  }
}

@media only screen and (max-width: $breakpoint-sm) {
  .gallery__container__item {
    width: 90%;
    margin: 0 auto;
    background-size: contain;
  }
  .gallery__container {
    gap: 2em;
  }
}
